.input {
  color: white;
  border-radius: 0%;
  height: 60px;
  border-bottom: 2px solid #242424;
}

.input::placeholder {
  color: #5e5e5e;
  font-size: 16px;
}

.input:focus {
  border-bottom: 2px solid#c4cee8;
}

.label {
  font-size: 12px;
}

.root {
  border-bottom: 2px solid #242424;
}
