.header {
  background: #060e11;
}

.content {
  background: #060e11;
}
.body {
  padding: 0;
}

.close {
  color: white;
}

.close:hover {
  background-color: transparent;
}

.fullscreenVideo iframe {
  height: 100vh !important;
  width: 100vw !important;
  position: absolute;
  top: 0;
  left: 0;
}

.scrollbar {
  &[data-orientation="vertical"] .thumb {
    background-color: white;
  }
}
