.body {
  padding: 0;
}

.inner {
  padding: 75px 0px;
}

.scrollbar {
  &[data-orientation="vertical"] .thumb {
    background-color: white;
  }
}

.fullscreenVideo iframe {
  height: 100vh !important;
  width: 100vw !important;
  position: absolute;
  top: 0;
  left: 0;
}

.noHoverColor {
  border-bottom: 2px solid transparent !important;
}

.noHoverColor:hover {
  background-color: transparent !important;
  /* color: #c41e3a !important; */
}

.label {
  font-size: medium;
}

/* WorkImages */
.headerModal {
  background: #141414 !important;
}

.customModal {
  background: #141414 !important;
}

.noHover:hover {
  background-color: transparent;
}
